echo "db/** filter=git-crypt" >> .gitattributes
echo "scripts/** filter=git-crypt" >> .gitattributes
echo "assets/** filter=git-crypt" >> .gitattributes
echo "app/** filter=git-crypt" >> .gitattributes
echo "pkg/** filter=git-crypt" >> .gitattributes
echo "bin/** filter=git-crypt" >> .gitattributes
echo "cronjobs/** filter=git-crypt" >> .gitattributes
