# echo "db/** filter=git-crypt" >> .gitattributes
# echo "scripts/** filter=git-crypt" >> .gitattributes
# echo "assets/** filter=git-crypt" >> .gitattributes
# echo "app/** filter=git-crypt" >> .gitattributes
# echo "pkg/** filter=git-crypt" >> .gitattributes
# echo "bin/** filter=git-crypt" >> .gitattributes
# echo "cronjobs/** filter=git-crypt" >> .gitattributes
db/** filter=git-crypt
scripts/** filter=git-crypt
assets/** filter=git-crypt
app/** filter=git-crypt
pkg/** filter=git-crypt
bin/** filter=git-crypt
cronjobs/** filter=git-crypt
